@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
  /* 隐藏 table border */
  .virtual-table-border-none {
    [role='row'] {
      @apply border-none;
    }
    [role='row'] > div {
      @apply border-none;
    }
  }
}

:root {
  --font-zh-cn: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  --font-zh-tw: 'MHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana';
  --font-en-us: 'inter', 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  --gray-50: '0, 0%, 98%';
  --gray-100: '0, 0%, 96%';
  --gray-200: '0, 0%, 88%';
  --gray-300: '0, 0%, 80%';
  --gray-400: '0, 0%, 64%';
  --gray-500: '0, 0%, 48%';
  --gray-600: '0, 0%, 32%';
  --gray-700: '0, 0%, 24%';
  --gray-800: '0, 0%, 16%';
  --gray-900: '0, 0%, 8%';
  --success: '135, 60%, 50%';
  --warning: '40, 100%, 50%';
  --danger: '0, 72%, 50%';
  --white: '0, 0%, 100%';
  --black: '0, 0%, 0%';
  --spacing-xl: '3.5rem';
  --spacing-lg: '3rem';
  --spacing-md: '2.5rem';
  --spacing-sm: '2rem';
  --spacing-xs: '1.5rem';
  --spacing-xxs: '1rem';
  --rounded-none: 0;
  --rounded-xxs: '0.125rem';
  --rounded-xs: '0.188rem';
  --rounded-sm: '0.25rem';
  --rounded: '0.313rem';
  --rounded-lg: '0.375rem';
  --rounded-xl: '0.438rem';
  --rounded-2xl: '1rem';
  --rounded-3xl: '1.5rem';
  --rounded-full: '100rem';
}

[data-theme='light'] {
  --primary: '0, 0%, 8%';
  --primary-invert: '0, 0%, 96%';
  --secondary: '0, 0%, 64%';
  --accent: '220, 100%, 50%';

  --fade-25: 'hsla(var(--gray-900), 0.025)';
  --fade-50: 'hsla(var(--gray-900), 0.05)';
  --fade-100: 'hsla(var(--gray-900), 0.1)';
  --fade-200: 'hsla(var(--gray-900), 0.15)';
  --fade-300: 'hsla(var(--gray-900), 0.2)';

  --light-50: 'hsl(var(--gray-50))';
  --light-100: 'hsl(var(--gray-100))';
  --light-200: 'hsl(var(--gray-200))';
  --light-300: 'hsl(var(--gray-300))';
  --light-400: 'hsl(var(--gray-400))';
  --light-500: 'hsl(var(--gray-500))';

  --body: '0, 0%, 100%';
  --body-invert: '0, 0%, 16%';
  --block: '0, 0%, 98%';
}

[data-theme='dark'] {
  --primary: '0, 0%, 96%';
  --primary-invert: '0, 0%, 8%';
  --secondary: '0, 0%, 48%';
  --accent: '220, 100%, 58%';

  --fade-25: 'hsla(var(--primary), 0.05)';
  --fade-50: 'hsla(var(--primary), 0.1)';
  --fade-100: 'hsla(var(--primary), 0.2)';
  --fade-200: 'hsla(var(--primary), 0.3)';
  --fade-300: 'hsla(var(--primary), 0.4)';

  --light-50: 'hsl(var(--gray-700))';
  --light-100: 'hsl(var(--gray-700))';
  --light-200: 'hsl(var(--gray-600))';
  --light-300: 'hsl(var(--gray-500))';
  --light-400: 'hsl(var(--gray-400))';
  --light-500: 'hsl(var(--gray-400))';

  --body: '0, 0%, 16%';
  --body-invert: '0, 0%, 100%';
  --block: '0, 0%, 24%';
}

body {
  @apply bg-body text-primary;
  @apply selection:bg-accent/30;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'iconfont'; /* Project id 3478842 */
  src: url('./assets/font/iconfont.woff2?t=1657003650741') format('woff2'),
    url('./assets/font/iconfont.woff?t=1657003650741') format('woff'),
    url('./assets/font/iconfont.ttf?t=1657003650741') format('truetype');
}

.iconfont {
  font-family: 'iconfont', serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drag:before {
  content: '\e707';
}

.icon-clear_filters:before {
  content: '\e87b';
}

.icon-sortdown:before {
  content: '\e671';
}

.icon-sortup:before {
  content: '\e674';
}

.icon-Filterfunnelsort:before {
  content: '\e9ce';
}

.icon-sort:before {
  content: '\e625';
}
