.bg-inherit {
  background-color: inherit;
}

/* 表格的默认样式 */
.tx-virtual-table {
  @apply flex flex-col;
  &__header__parent {
    z-index: 51;
    @apply sticky flex items-center border-b border-b-[#eee] bg-[#f8f8f8];
    &__cellwrapper {
      @apply relative flex justify-center overflow-hidden;
      &--border {
        @apply absolute right-0 top-[25%] h-[50%] w-0 border-r border-solid border-gray-500;
      }
    }
  }
  &__header {
    z-index: 51;
    @apply sticky flex items-center border-b border-b-[#eee] bg-[#f8f8f8];
    &__drag_icon {
      @apply sticky left-0 z-50 bg-inherit;
    }
    &__cellwrapper {
      @apply relative flex h-full flex-col justify-center overflow-hidden;
    }
    &__cellwrapper--fixed_left {
      @apply sticky left-0 z-50 bg-inherit;
    }
    &__cellwrapper--fixed_right {
      @apply sticky right-0 z-50 bg-inherit;
    }
  }
  &__fixed_top {
    @apply sticky;
    z-index: 51;
    box-shadow: 0 2px 4px 0 #eee;
  }
  &__body {
    @apply relative flex-1 overflow-auto;
  }
}

/* 表格的空态 */
.tx-virtual-table--empty {
  @apply absolute bottom-0 left-0 z-50;
}

/* 通用类, 可能顶层出现 */
.tx-virtual-table__checkbox_wrapper {
  @apply sticky z-50 flex h-full items-center bg-inherit px-3;
}
.tx-virtual-table__checkbox_wrapper--shadow {
  box-shadow: 2px 0 4px 0 #eee;
}

/* 行组件外层, 可能顶层出现 */
.tx-virtual-table__row {
  @apply inline-flex items-center border-b border-b-[#eee] bg-white;
  &__cell_wrapper {
    @apply flex h-full flex-col justify-center overflow-hidden;
  }
  &__cell_wrapper--left {
    @apply sticky left-0 z-50 bg-inherit;
  }
  &__cell_wrapper--right {
    @apply sticky right-0 z-50 bg-inherit;
  }
  &__cell_wrapper__drag {
    @apply sticky z-50 bg-inherit;
  }
}

/* 行拖拽对象, 顶层出现 */
.tx-virtual-table__row_drag_wrapper {
  @apply relative w-full overflow-hidden bg-white shadow-lg;
}

/* 拖拽icon, 可能顶层出现 */
.tx-virtual-table__drag_icon {
  @apply sticky left-0 z-50 flex h-full items-center bg-inherit px-3 px-4;
}

/* 表头拖拽对象, 顶层出现 */
.tx-virtual-table__header__cell {
  @apply flex select-none items-center;
  &--sort_wrapper {
    @apply absolute top-0 bottom-0 right-0 mx-3 flex cursor-pointer items-center;
  }
  &--filter_wrapper {
    @apply absolute top-0 bottom-0 right-0 mx-3 flex cursor-pointer items-center;
  }
  &--drag_resize {
    @apply absolute right-0 top-[25%] h-[50%] w-0 cursor-col-resize border-r-2 border-dotted border-gray-500;
  }
  &--drag_end {
    @apply absolute right-0 top-[25%] h-[50%] w-0 border-r-2 border-gray-500;
  }
}
.tx-virtual-table__header__cell--default {
  @apply cursor-default;
}
.tx-virtual-table__header__cell--dragging {
  @apply z-0 opacity-50;
}
.tx-virtual-table__header__cell--over {
  @apply cursor-grabbing bg-white shadow-lg;
}
.tx-virtual-table__header__cell--source {
  @apply cursor-grab touch-manipulation;
}
