.tx-virtual-table {
  @apply flex flex-col;
  &__container {
  }
  &__header {
    @apply sticky z-10 flex items-center border-b border-b-gray-200 bg-white;
    & .tx-virtual-table__drag-icon {
      @apply sticky left-0 z-10 bg-white;
    }
    &-cell {
      @apply relative flex h-full items-center bg-white;
      & > div[role='button'] {
        @apply w-full;
      }
      &--fixed-left {
        @apply sticky left-0 z-10 border-r border-gray-100;
      }
      &--fixed-right {
        @apply sticky right-0 z-10 border-l border-gray-100;
      }
      &-container {
        @apply flex w-full select-none items-center gap-2 border border-transparent px-3;
        &--sort {
        }
        &--filter {
        }

        &--drag-end {
        }
        &--default {
          @apply cursor-default;
        }
        &--dragging {
          @apply z-0 opacity-10;
        }
        &--over {
          @apply cursor-grabbing rounded border-gray-200 bg-white shadow-lg;
        }
        &--source {
          @apply cursor-grab touch-manipulation hover:bg-gray-50;
        }
      }
    }
    &--parent {
      @apply border-b border-gray-100;
      & .tx-virtual-table__header-cell {
        @apply justify-center px-3;
      }
    }
    &-border {
      @apply h-full w-px bg-gray-100;
    }
  }
  &__separator {
    @apply absolute inset-y-0 -right-2 z-1 flex cursor-ew-resize items-center justify-center;
    width: 15px;
    &--resizing,
    &:hover {
      &::after {
        @apply bg-accent;
      }
    }
    &::after {
      @apply pointer-events-none z-5 w-[3px] rounded;
      height: 60%;
      content: '';
    }
    &::before {
      @apply pointer-events-none absolute h-full w-px rounded bg-gray-100;
      content: '';
    }
  }

  &__body {
    @apply relative flex-1;
  }

  &__row {
    @apply inline-flex items-center border-b border-b-gray-50 bg-white;
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.02);
    }
    &--drag {
      @apply relative w-full overflow-hidden shadow-lg ring-1 ring-accent;
    }
  }

  &__fixed-top {
    @apply sticky z-10 border-b border-gray-200;
  }

  &__cell {
    @apply flex h-full items-center px-3;
    &--left {
      @apply sticky left-0 z-5 border-r border-gray-100 bg-white;
    }
    &--right {
      @apply sticky right-0 z-5 border-l border-gray-100 bg-white;
    }
    &__drag {
      @apply sticky z-5 bg-white;
    }
    &-content {
      @apply flex items-center gap-2;
      @apply relative cursor-pointer;
      &:hover {
        &::before {
          @apply bg-gray-900 bg-opacity-5;
        }
      }
      &::before {
        content: '';
        @apply absolute -inset-y-1 -inset-x-2 rounded-sm;
      }
      &--root {
        @apply cursor-auto;
        &::before {
          @apply hidden;
        }
      }
    }
  }

  &__checkbox-container {
    @apply sticky left-0 z-1 h-full justify-center bg-white;
  }

  &__drag-icon {
    @apply h-full justify-center;
  }
  &--col {
    &-dragging {
      & * {
        @apply pointer-events-none;
      }
    }
    &-resizing {
      @apply cursor-ew-resize;
      & * {
        @apply pointer-events-none;
      }
    }
  }
  &--empty {
    @apply absolute bottom-0 left-0 z-10;
  }
}
