.bg-inherit {
  background-color: inherit;
}
.checkbox-sm {
  height: 1.25rem;
  width: 1.25rem;
}

/* 表格没有数据 */
.tx-virtual-table_empty {
  @apply absolute bottom-0 left-0 z-50;
}

/* 表格的默认样式 */
.tx-virtual-table {
  .tx-virtual-table_wrapper {
    .tx-virtual-table_wrapper_header_parent {
      z-index: 51;
      @apply sticky flex items-center border-b border-b-[#eee] bg-[#f8f8f8];

      .tx-virtual-table_wrapper_header_parent_cell_wrapper {
        @apply relative flex justify-center overflow-hidden;

        .tx-virtual-table_wrapper_header_parent_cell_wrapper_border {
          @apply absolute right-0 top-[25%] h-[50%] w-0 border-r border-solid border-gray-500;
        }
      }
    }
    .tx-virtual-table_wrapper_header {
      z-index: 51;
      @apply sticky flex items-center border-b border-b-[#eee] bg-[#f8f8f8];

      .tx-virtual-table_wrapper_header_drag_icon_none {
        @apply sticky left-0 z-50 bg-inherit;
      }

      .tx-virtual-table_wrapper_header_cell_wrapper {
        @apply relative flex h-full flex-col justify-center overflow-hidden;
      }
      .tx-virtual-table_wrapper_header_cell_wrapper_fixed_left {
        @apply sticky left-0 z-50 bg-inherit;
      }
      .tx-virtual-table_wrapper_header_cell_wrapper_fixed_right {
        @apply sticky right-0 z-50 bg-inherit;
      }
    }

    .tx-virtual-table_fixed_top {
      @apply sticky;
      z-index: 51;
      box-shadow: 0 2px 4px 0 #eee;
    }
  }
}

/* 通用类, 可能顶层出现 */
.indeterminate_checkbox_wrapper {
  @apply sticky z-50 flex h-full items-center bg-inherit px-3;
  .indeterminate_checkbox {
    @apply checkbox checkbox-sm;
  }
}
.indeterminate_checkbox_wrapper_shadow {
  box-shadow: 2px 0 4px 0 #eee;
}

/* 行组件外层, 可能顶层出现 */
.tx-virtual-table_row_wrapper {
  @apply inline-flex items-center border-b border-b-[#eee] bg-white;
  .tx-virtual-table_row_cell_wrapper {
    @apply flex h-full flex-col justify-center overflow-hidden;
  }
  .tx-virtual-table_row_cell_wrapper_left {
    @apply sticky left-0 z-50 bg-inherit;
  }
  .tx-virtual-table_row_cell_wrapper_right {
    @apply sticky right-0 z-50 bg-inherit;
  }
  .tx-virtual-table_row_cell_wrapper_drag {
    @apply sticky z-50 bg-inherit;
  }
}

/* 行拖拽对象, 顶层出现 */
.tx-virtual-table_row_drag_wrapper {
  @apply relative w-full overflow-hidden bg-white shadow-lg;
}

/* 拖拽对象, 可能顶层出现 */
.tx-virtual-table_drag_icon {
  @apply sticky left-0 z-50 flex h-full items-center bg-inherit px-3 px-4;
}

/* 表头拖拽对象, 顶层出现 */
.tx-virtual-table_header_drag_wrapper {
  @apply box-border touch-manipulation;
  .tx-virtual-table_header_drag {
    @apply flex select-none items-center;
    .tx-virtual-table_header_cell_sort_wrapper {
      @apply absolute top-0 bottom-0 right-0 mx-3 flex cursor-pointer items-center;
    }
    .tx-virtual-table_header_cell_filter_wrapper {
      @apply absolute top-0 bottom-0 right-0 mx-3 flex cursor-pointer items-center;
    }
    .tx-virtual-table_header_drag_resize {
      @apply absolute right-0 top-[25%] h-[50%] w-0 cursor-col-resize border-r-2 border-dotted border-gray-500;
    }
    .tx-virtual-table_header_drag_end {
      @apply absolute right-0 top-[25%] h-[50%] w-0 border-r-2 border-gray-500;
    }
  }
  .tx-virtual-table_header_drag_default {
    @apply cursor-default;
  }
  .tx-virtual-table_header_drag_dragging {
    @apply z-0 opacity-50;
  }
  .tx-virtual-table_header_drag_over {
    @apply cursor-grabbing bg-white shadow-lg;
  }
  .tx-virtual-table_header_drag_source {
    @apply cursor-grab touch-manipulation;
  }
}
